<mat-toolbar color="primary">
  <mat-toolbar-row class="justify-content-center position-relative">
    <div class="position-absolute navBarIconShell">
      <mat-icon aria-hidden="false" class="pointer" aria-label="Example home icon" (click)="navigateToPreviousUrl()"
        fontIcon="arrow_back"></mat-icon>
    </div>
    <span>Forgot Password</span>
  </mat-toolbar-row>
</mat-toolbar>
<section class="authOuterShell">
  <div class="container">
    <div class="row">
      <form [formGroup]="form" class="d-flex flex-column w-100">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Mobile</mat-label>
          <input matInput type="text" class="auth form-control" formControlName="mobile"
            [ngClass]="{ 'is-invalid': formValidations('mobile') }" placeholder="Mobile" />
          <mat-error>
            <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: ' Please provide a mobile no.',
                control: form.get('mobile')
              }"></ng-template>
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" class="w-100" (click)="onSubmit()">
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
  <div></div>
</section>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="
      control.hasError(validation) &&
      (control.touched || control.dirty || isFormSubmit)
    ">
    {{ message }}
  </ng-container>
</ng-template>
