.p-1 {
    padding: 1rem;
}

mat-card-title {
    font-weight: 600;
    font-size: large;
    color: dimgray;
}

.point {
    color: green;
}

mat-card-subtitle {
    padding-top: 15px !important;
}

.text-right {
    text-align: right;
}