<section class="authOuterShell">
  <div class="container">
    <div class="row">
      <form [formGroup]="form" class="d-flex flex-column w-100">

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Username </mat-label>
          <input matInput placeholder="Username" formControlName="userName" />
          <mat-error>
            <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: ' Please provide a user name.',
                    control: form.get('userName')
                  }"></ng-template>
            <mat-error *ngIf="formValidations('userName')">
              <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'email',
                        message: ' Please provide valid user name.',
                        control: form.get('userName')
                      }"></ng-template>
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Password </mat-label>
          <input matInput placeholder="password" [type]="isPasswordHide ? 'password' : 'text'"
            formControlName="password" />
          <button mat-icon-button matSuffix (click)="isPasswordHide = !isPasswordHide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHide">
            <mat-icon>{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>


          <mat-error *ngIf="formValidations('password')">
            <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: ' Please provide password.',
                control: form.get('password')
              }"></ng-template>
            <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'passwordStrength',
                message: ' Password is invalid. Password must contain at least one small & one capital alphabet & one special corrector and numeric digit.',
                control: form.get('password')
              }"></ng-template>
            <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: ' Password minimum length is 5.',
                control: form.get('password')
              }"></ng-template>
            <ng-template [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: ' Password maximum length is 15.',
                control: form.get('password')
              }"></ng-template>
          </mat-error>
        </mat-form-field>
        <div>
          <span class="forgotPassword" [routerLink]="['/auth/forgot-password']" routerLinkActive="router-link-active">
            Forgot Password?
          </span>
          <button mat-raised-button color="primary" class="w-100" (click)="onSubmit()">Login</button>
          <span class="forgotPassword sign-up" [routerLink]="['/auth/sign-up']" routerLinkActive="router-link-active">
            Sign up
          </span>
        </div>
      </form>
    </div>
  </div>
  <div></div>
</section>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="
      control.hasError(validation) &&
      (control.touched || control.dirty || isFormSubmit)
    ">
    {{ message }}
  </ng-container>
</ng-template>
